{% load static %}
 <!DOCTYPE html>
 <html lang="en">
 <head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Game Over</title>
     <style>
         .win-container {
             text-align: center;
             margin-top: 50px;
         }
     </style>
 </head>
 <body>
     {% include 'navbar.html' %}
     <div class="win-container">
         <h1>Congratulations!</h1>
         <p>Your final score is: {{ score }}</p>
         <a href="{% url 'Recycle' %}">Play Again</a>
     </div>
 </body>
 </html>
