{% extends 'base.html' %}
{% load static %}
{% block title %}About the project{% endblock %}

{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'homepage/styles.css' %}">
<style>
    .box-container {
        border: 2px solid #00a87e;
        padding: 20px;
        margin: 20px auto;
        background-color: white;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        max-width: 800px;
        text-align: center;
    }

    img{
        align-content: center;
        width:200px;
    }
</style>
<div class = "other">
    <h1>
        About the BestGroup project
    </h1>
</div>
<div class = box-container>
    <h2>Our Team:</h2>

    <p>Oscar Taggart</p>
    <img src="https://cdn.discordapp.com/attachments/1337827399940833290/1353871327483920445/66b2243bcfe18123dbefb7c6d4edb74d.png?ex=67e33a6e&is=67e1e8ee&hm=a745c5777b7ac72ae503f5d49f2fdef4f3eae600366a958e914d02bb918c1fba&">
    <p>Regan Boateng</p>
    <img src="https://media.discordapp.net/attachments/1337827399940833290/1353870925719797892/a77132b43f752614d3746dadf1234a1d.png?ex=67e33a0e&is=67e1e88e&hm=df5bc5fc65c2c0f227bb10eeec4863bf5ef8f62a88c6ec43f8c4cf28b02de627&=&format=webp&quality=lossless&width=384&height=384">
    <p>Clarry Amofa</p>
    <img src="https://media.discordapp.net/attachments/1337827399940833290/1353871635588845589/Z.png?ex=67e33ab7&is=67e1e937&hm=66ef8c3b946077e01221a5a6ce8ad5a64cc11e10b74c14ad028951adb28e2e46&=&format=webp&quality=lossless&width=377&height=302">
    <p>Tin Nok Lau</p>
    <img src="https://media.discordapp.net/attachments/1337827399940833290/1353871721446379571/Z.png?ex=67e33acc&is=67e1e94c&hm=a220dd4728fa0008269edb2c95511165b55eceae631708b118781a21fc9a5ace&=&format=webp&quality=lossless&width=338&height=338">
    <p>Mirkazim Allahverdiyev</p>
    <img src="https://media.discordapp.net/attachments/1337827399940833290/1353871087393570928/0c44a87bfa84d539b08edadb68940186.png?ex=67e33a34&is=67e1e8b4&hm=72a585a0c30036ab89776ac265e026b4102e068afe27858284b7f578a1d0e4b0&=&format=webp&quality=lossless&width=513&height=513">
    <p>Dylan Bradshaw</p>
    <img src="https://cdn.discordapp.com/attachments/1337827399940833290/1353871214317273169/cc06bb2f8410fdf51bbca02c01ba564e.png?ex=67e33a53&is=67e1e8d3&hm=3315f4437c27e0c1bca4e8a94d1155ee4aed35922c54691768987a16c255f88e&">
    <p>Alex Saunders</p>
    <img src="https://cdn.discordapp.com/attachments/1337827399940833290/1353871461680418898/6774454572b8f6ec1f4947669d68cc25.png?ex=67e33a8e&is=67e1e90e&hm=d76a948353bc87e339f19d70ff28c100be0047f68fd2e3a8c2d9aeaeee4215f6&">
    <h2>Our message</h2>

    <p>The University of Exeter is very passionate when it comes to sustainability, with a goal of being carbon net zero by 2030, and pursuing a policy of environmental net gain. As a team, BestGroup wants to support this, by raising public awareness and encouraging little changes people can make in their lives to help lower their environmental impact and support positive change. Our goal as a team, was to provide a minigame for each of what we believe are some of the major aspects of sustainability. A number of these are included in the list of goals and actions that the University of Exeter is doing to improve their environmental sustainability, such as reducing carbon emissions, reducing waste by recycling correctly and not littering, and saving electricity.</p>

</div>
{% endblock %}
